#header-container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1320px;
    display: flex;
}

#header {
    background-color: aqua;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#logo {
    margin-right: auto;
    padding-left: 1em;
    white-space: nowrap;
    text-decoration: none;
}

#nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.nav-item {
    padding: 1rem;
}